* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Graphik" , sans-serif;
  background: #00091B;
  font-size: 112.5%;
  line-height: 1.5;
  color: #4D535F;
}

main {
  max-width: 1274px;
  margin: 40px auto 0 auto;
  padding: 1rem;
}

a, a:visited, a:focus {
  color: #4D535F;
  text-decoration: none;
}

a:hover {
  color: #85F4FF;
}

p {
  font-weight: 400;
  word-wrap: break-word;
  font-size: 32px;
  line-height: 46px;
  padding-top: 2px;
  padding-bottom: 2px;
  max-width: 950px;
}

p.fadeIn {
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
}

p a {
  paddingt-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;-bottom: 2px;
  -border-bottom: 1px solid #4D535F;
  position: relative;
  display: inline-block;
}

p a:hover {
  color: #85F4FF;
}

p a:before {
  background-color: #7F848D;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

p a::after {
  border-bottom: 1px solid #7F848D;
}

p a:after, p a:before {
  position: absolute;
  top: 0;
  left: -4px;
  z-index: -1;
  box-sizing: content-box;
  padding: 0 4px;
  width: 100%;
  height: 100%;
  content: '';
}

p a:hover::before {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

h1 {
  font-size: 62px;
  font-weight: 600;
  line-height: 72px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

hr {
  background: #85F4FF;
  height: 5px;
  width: 64px;
  border: none;
}

header {
  margin-bottom: 80px;
  text-align: center;
}

header .logo {
  max-width: 50%;
  margin-bottom: 32px;
}

header nav {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 16px;
}

header nav ul li:first-child {
  margin-left: none;
}

header nav ul li a.active {
  color: #85F4FF;
}

@media (min-width: 600px) {
  header {
    text-align: left;
  }
  
  header .logo {
    margin-bottom: 0;
    max-width: 115px;
  }

  header nav {
    float: right;
    width: auto;
  }

}


